*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/op-exclude.txt
!/.env
!/.warden/*
!/.warden/**/*
!/app/overrides/**
!/app/etc/env.php.dev
!/.env.dev.config
!/Gruntfile.js
!/grunt-config.json
!/package.json
!/package-lock.json
!/dev/tools/grunt/configs/local-themes.js
!/.env
