<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Jcoszig\StockNotifications\Ui\DataProvider\Products\ListingDataProvider">
        <plugin name="stock_notifications_attributes" type="Jcoszig\StockNotifications\Plugin\AddAttributesToUiDataProvider" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="stock_notifications_product_listing_data_source" xsi:type="string">StockNotificationsProductsCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="StockNotificationsProductsCollection" type="Jcoszig\StockNotifications\Ui\Component\Products\Listing\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">catalog_product_entity</argument>
            <argument name="resourceModel" xsi:type="string">Jcoszig\StockNotifications\Model\ResourceModel\Products</argument>
        </arguments>
    </virtualType>
</config>
